html{
  scroll-behavior: smooth;
}

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
}

nav{
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-around;
   min-height: 9vh;
   width: 100%;
   font-family: monospace;
   background-color: #323031;
   opacity: 95%;
   z-index: 3;
}

.logo{
  color: #F2E5D7;
  font-size: 17px;
}

.logo a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

.navlinks{
  float: right;
  display: flex;
  justify-content: space-around;
  width: 60%;
  position: relative;
}

.navlinks a{
text-decoration: none;
color: #F2E5D7;
font-family:monospace;
font-size: 15px;
}

.navlinks li{
  list-style: none;
  display: inline-block;
}

.reservetable{
  padding: 3px 10px;
  border: 1px solid #F2E5D7;
  transition: 0.2s ease;
}

.reservetable:hover{
  background-color: #6BA368;
  color: #F2E5D7;
}

#bghomevideo{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border-bottom: none;
}

@media (min-aspect-ratio:16/9) {
  .videoplayer{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .videoplayer{
    width: auto;
    height: 100%;
  }
}

.firstmsg{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  background-color: black;
  background-color: rgba(10, 8, 9, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  z-index:0;
}

.firstmsg h1{
  color: #F2E5D7;
  font-family: monospace;
  font-size: 60px;
}

.firstmsg p{
  color: #F2E5D7;
  font-family: monospace;
  font-size: 30px;
}

#HOME{
  height: 100vh;
  background: bghomevideo;
  display: inline-block;
  width: 100%;
  border: none;
}

#ABOUT{
  height: 100vh;
  background: #CE796B;
  display: inline-block;
  width: 100%;
  color: #F2E5D7;
  font-family:monospace;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#ABOUT a{
  text-decoration: none;
  color: #323031;
  font-family:monospace;
  font-size: 20px;
  letter-spacing: 3px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin: center;
  display: inline-block;
  padding: 2rem 4rem;
  text-align: center;
}

#ABOUT h2{
  font-size: 20px;
  margin: center;
}

#ABOUT h1{
  font-size: 30px;
}

#ABOUT p{
  font-size: 1rem;
  color: #F2E5D7;
  font-family: monospace;
  font-size: 20px;
  margin: auto;
  text-align: center;
}


#MENU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #9EB7E5;
}
#MENU h1 {
  margin-bottom: 4%;
  font-family: monospace;
  font-size: 30px;
  border: 2px solid black;
  color: #323031;
  position: absolute;
  top: 10%;
}
#MENU .menu_options {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
#MENU .menu_options div {
  margin-bottom: 20px;
  font-family: monospace;
  width: 80%;
  color: #323031;
}
#MENU .menu_options div h3 {
  font-size: 20px;
}
#MENU .menu_options div p {
  font-size: 14px;
}
#MENU .menu_options div h5 {
  font-size: 18px;
}
@media screen and (max-width: 750px) {
  #MENU h1 {
    font-size: 25px;
  }

}
@media screen and (max-width: 600px) {
  #MENU h1 {
    font-size: 20px;
  }
}

#RESERVE{
  height: 100vh;
  background: #326771;
  display: inline-block;
  width: 100%;
}

#RESERVE .cname{

}
